.errorForm {
    position: absolute;
    top: 18%;
    left: 28%;
}
.has-error {
    margin-left: 38%;
    font-size: 100px;
    color: #a267fd;
    font-weight: bolder;
}
.textError {
    margin-left: 17%;
    font-size: 40px;
    color: #a267fd;
    font-weight: bolder;
}
.imageSpan {
    margin-left: 5%;
}