#navPan{
    font-weight: bold;
    font-size: 20px;
    color: rgba(43, 20, 64, 0.6);
}

.breadcrumb > .active{
    font-size: 20px;
}
/*.active {*/
/*font-size: 40px;*/
/*color: white;*/
/*}*/

.breadcrumb > .active > a{
    font-size: 25px;
    color: #8083ff;
}
/*.breadcrumb > .active, .a:hover {*/
/*background: green;*/
/*color: #fff;*/
/*}*/
.breadcrumb > li > a:hover{
    font-size: 25px;
    color: #8083ff;
}

.breadcrumb > li {
    display: inline;
}

.breadcrumb > li > a{
    text-decoration: none;
    color: #5d1194;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}
.breadcrumb >li + li:before {
    padding: 0 5px;
    color: #8a8585;
    content: "/\A0";
}
.breadcrumb {
    padding: 20px 30px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}

#logout {
    margin-top: 10px;
    float: right;
}

#logout > a{
    text-decoration: none;
    font-size:20px;
}