.driverLabel {
    width: 30%;
    margin: 10px;
    color: #188a46;
    font-size: 16px;
    font-style: italic;
}

.driverField {
    border-radius: 5px;
    margin-left: 5%;
    border-color: #d3efdc;
    width: 30%;
    color: #1c482a;
    padding: 3px;
}

#mainDriverDiv{
    width: 70%;
    margin-left: 10%;
    margin-top: 40px;
}