.modalLabel {
    width: 30%;
    margin: 10px;
    color: #166477;
    font-size: 15px;
}

.modalField {
    border-radius: 5px;
    margin-left: 5%;
    border-color: #B2E2F1;
    width: 40%;
    color: #183E6F;
    padding: 3px;
}


#orderDataTable{
    width: 50%;
    float: left;
}

#detailInformation {
    width: 50%;
    float: right;
}

#orderDataTable {

}

#driverDataTable {

}

.wizard-content{
    width: 80%;
}

.wizardHeaderLabel {
    font-size: 22px;
    color: #8232a9;
    margin: 10px;
}

#cityInRoute{
    float:left;
}

#saveCityButton {
    margin-left: 30px;
}

.step {
    margin-left: 10px;
}

.cargoLabel {
    width: 30%;
    margin: 10px;
    color: #8687c5;
    font-size: 16px;
    font-style: italic;
}

.list-group-item {
    width: 72px;
}

.cargoField {
    border-radius: 5px;
    margin-left: 5%;
    border-color: #afdbe8;
    width: 50%;
    color: #456da0;
    padding: 3px
}