tr {
    background-color: #c5c5c7;
}
.react-bs-table {
    border-radius: 10px;
    margin: 40px 50px;
    border: 2px solid #c1b8b8;
}
.react-bs-table-pagination {
    margin: 40px;
}
.react-bs-table-tool-bar {
    margin: 20px 30px 0;
}
